# Ignore macOS system files
.DS_Store

# Ignore environment variable files
/gc-api/.env.*

# Ignore build output directories
/gc-api/build/

# Ignore node_modules folders
/gc-cli/node_modules/
/gc-api/node_modules/
